<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="wrapper">
  <header>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="index.html">GOMIPOY</a></h3>
      </div>
    </div>
    <button type="button" class="btn btn-sm" (click)="onClickBtnSm()">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>
    <div class="help" [ngClass]="{'show' : isHelpOpen}">
      <h5>GOPIMOYとは</h5>
      <p>
        写真をアップロードするだけで、各自治体のごみの分別方法が分かります。<br />
        ごみを正しく分別して、地球環境をより良くしましょう。
      </p>
    </div>
  </header>
  <app-contents></app-contents>
</div>
<footer>
  <div><small>&copy;2018 IIKO</small></div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
